.idea/DesafioIphone.iml
.idea/misc.xml
.idea/uiDesigner.xml
out/production/Iphone/Smarthphone/Funcionalidades/AparellhoTelefonico.class
out/production/Iphone/Smarthphone/Funcionalidades/Navegador.class
out/production/Iphone/Smarthphone/InterfaceIphone.class
out/production/Iphone/Smarthphone/Funcionalidades/ReprodutorMusical.class
.idea/.gitignore
.idea/modules.xml
Iphone/Iphone.iml
